{{- /* neofetch.conf.tmpl */ -}}
# This is a template for neofetch configuration
# It will apply different configs based on OS

{{- if eq .chezmoi.os "darwin" }}
# macOS configuration
# See this wiki page for more info:
# https://github.com/dylanaraps/neofetch/wiki/Customizing-Info
print_info() {
    info title
    info underline

    info "OS" distro
    info "Host" model
    info "Kernel" kernel
    info "Uptime" uptime
    info "Packages" packages
    info "Shell" shell
    info "Resolution" resolution
    info "DE" de
    info "WM" wm
    info "WM Theme" wm_theme
    info "Theme" theme
    info "Icons" icons
    info "Terminal" term
    info "Terminal Font" term_font
    info "CPU" cpu
    info "GPU" gpu
    info "Memory" memory

    # info "GPU Driver" gpu_driver  # Linux/macOS only
    # info "CPU Usage" cpu_usage
    # info "Disk" disk
    # info "Battery" battery
    # info "Font" font
    # info "Song" song
    # [[ "$player" ]] && prin "Music Player" "$player"
    # info "Local IP" local_ip
    # info "Public IP" public_ip
    # info "Users" users
    # info "Locale" locale  # This only works on glibc systems.

    info cols
}

# Title

# Hide/Show Fully qualified domain name.
title_fqdn="off"

# Kernel

# Shorten the output of the kernel function.
kernel_shorthand="on"

# Distro

# Shorten the output of the distro function
distro_shorthand="off"
os_arch="on"

# Uptime

# Shorten the output of the uptime function
uptime_shorthand="on"

# Memory

# Show memory pecentage in output.
memory_percent="off"
memory_unit="mib"

# Packages

# Show/Hide Package Manager names.
package_managers="on"

# Shell

# Show the path to $SHELL
shell_path="off"
shell_version="on"

# CPU

speed_type="bios_limit"
speed_shorthand="off"
cpu_brand="on"
cpu_speed="on"
cpu_cores="logical"
cpu_temp="off"

# GPU

gpu_brand="on"
gpu_type="all"

# Resolution

refresh_rate="off"

# Gtk Theme / Icons / Font

gtk_shorthand="off"
gtk2="on"
gtk3="on"

# IP Address

public_ip_host="http://ident.me"
public_ip_timeout=2

# Desktop Environment

de_version="on"

# Disk

disk_show=('/')
disk_subtitle="mount"
disk_percent="on"

# Song

music_player="auto"
song_format="%artist% - %album% - %title%"
song_shorthand="off"
mpc_args=()

# Text Colors

colors=(distro)

# Text Options

bold="on"
underline_enabled="on"
underline_char="-"
separator=":"

# Color Blocks

block_range=(0 15)
color_blocks="on"
block_width=3
block_height=1
col_offset="auto"

# Progress Bars

bar_char_elapsed="-"
bar_char_total="="
bar_border="on"
bar_length=15
bar_color_elapsed="distro"
bar_color_total="distro"

# Info display
cpu_display="off"
memory_display="off"
battery_display="off"
disk_display="off"

# Backend Settings

image_backend="ascii"
image_source="auto"

# Ascii Options

ascii_distro="auto"
ascii_colors=(distro)
ascii_bold="on"

# Image Options

image_loop="off"
thumbnail_dir="${XDG_CACHE_HOME:-${HOME}/.cache}/thumbnails/neofetch"
crop_mode="normal"
crop_offset="center"
image_size="auto"
gap=3
yoffset=0
xoffset=0
background_color=

# Misc Options
stdout="off"

{{- else }}
# Linux configuration
# https://github.com/chick2d/neofetch-themes

print_info() {
    #info "\e[31m " users
    info "\e[32m " kernel
    info "\e[33m " uptime
    info "\e[34m " packages
    info "\e[35m " wm
    info "\e[32m " shell
    #info "\e[33m󰑭" memory
}

# Shorten the output of the kernel function.
kernel_shorthand="off"

# Shorten the output of the distro function
distro_shorthand="off"

# Show/Hide OS Architecture.
os_arch="off"

# Shorten the output of the uptime function
uptime_shorthand="on"

# Show memory pecentage in output.
memory_percent="off"

# Change memory output unit ('kib', 'mib', 'gib')
memory_unit="mib"

# Show/Hide Package Manager names.
package_managers="on"

# Show the path to $SHELL
shell_path="on"

# Show $SHELL version
shell_version="on"

# Display refresh rate next to each monitor
refresh_rate="off"

# Show Desktop Environment version
de_version="on"

# Text Colors
colors=(distro)

# Toggle bold text
bold="on"

# Enable/Disable Underline
underline_enabled="on"

# Underline character (string)
underline_char="─"

# Info Separator
separator=" •"

# Color block range. The range of colors to print.
block_range=(0 7)

# Toggle color blocks
color_blocks="on"

# Color block width in spaces
block_width=3

# Color block height in lines
block_height=1

# Color Alignment
col_offset="auto"

# Progress Bar characters
bar_char_elapsed="-"
bar_char_total="="

# Toggle Progress Bar border
bar_border="on"

# Progress bar length in spaces
bar_length=15

# Progress bar colors
bar_color_elapsed="distro"
bar_color_total="distro"

# Info display
cpu_display="off"
memory_display="off"
battery_display="off"
disk_display="off"

# Image backend.
image_backend="ascii"

# Image Source
image_source="${HOME}/.config/neofetch/ascii.txt"

# Ascii distro (Which distro's ascii art to display).
ascii_distro="arch_small"

# Ascii Colors
ascii_colors=(distro)

# Whether or not to bold the ascii logo.
ascii_bold="on"

# Image loop
image_loop="off"

# Thumbnail directory
thumbnail_dir="${XDG_CACHE_HOME:-${HOME}/.cache}/thumbnails/neofetch"

# Crop mode
crop_mode="normal"

# Crop offset
crop_offset="center"

# Image size
image_size="auto"

# Gap between image and text. Can be a positive or negative integer
gap=5

# Image offsets
yoffset=0
xoffset=0

# Image background color
background_color=

# Stdout mode
stdout="off"
{{- end }}